.overview{text-indent: 50px;
margin-top: 50px;
margin-bottom: 50px;
border: 5px solid DarkRed;
background-color: white;
font-size: 1em;
font-style: italic;
padding: 5px;
}

#storyBoard{width: 100%;
height: 500px;
}

#viz1494465749979{margin-top: 100px;
width: 100%;
}

body{color: black;
}

#container{margin: 10px;
}

.heading{text-align: center;
}

li{font-weight: bold;
}
